* {
  font-family: 'Lato-Bold'; 
  background-color: #f7f7f7;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin:0;
  background-color: red;
}

#contain {
  /*height: 84vh;  
  overflow-y: scroll; */  
  flex-grow: 1;
  overflow-y:  scroll;
  max-height: 100vh;
}

#h1 {  padding: 0px;
  background-color: #f7f7f7;
  color: #2b2a70;
  font-size: 45px;
}
	
#table_scroll {
  
  margin-top: 50px;
  margin-bottom: 100px;
}
#table_scroll tbody td {
  padding: 10px;
  background-color: #f7f7f7;
  font-size: 35px;
  
  
}
#table_fixed thead th {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #2b2a70;
   font-size: 40px;
     text-align:left;
}

#tcolumn1 tbody td {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #241773;
   font-size: 40px;
   text-align:left;
}
#tcolumn2 tbody td {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #241773;
   font-size: 40px;
   text-align:center;
}
#tcolumn3 tbody td {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #241773;
   font-size: 40px;
   text-align:center;
}
#tcolumn4 tbody td {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #241773;
   font-size: 40px;
   text-align:center;
}
#theader1 tbody td {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #2b2a70;
   font-size: 40px;
   text-align:left;
}
#theader2 tbody td {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #2b2a70;
   font-size: 40px;
   text-align:center;
}
#theader3 tbody td {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #2b2a70;
   font-size: 40px;
   text-align:center;
}
#theader4 tbody td {
  font-family: 'Lato-Bold';	
  padding: 10px;
  background-color: #f7f7f7;
  color: #2b2a70;
   font-size: 40px;
   text-align:center;
}
